.img-cartelera{
    height: 480px;
    width: 350px;
    align-content: center;
}

.colgrid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $lightLightBlue;
}
.colcenter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.info-pelicula{
    background-color: $lightLightBlue;
    font-weight: $textBold;
    text-align: center;
}

.card-body{
    background-color: $lightLightBlue;
}

