.parte-cc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wc{
    width: 33%;
    margin-top: 25px;
}

.perfil-usuario{
    font-weight: 700;
    background-color: $lightLightBlue;
    color: $blackColor;
    text-align: center;
}

.img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.contacto-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 33%;
}


.p-cont{
    font-size: $textMd;
    text-transform: uppercase;
    font-weight: $textBold;
    background-color: $firstBlue;
    width: 70%;
    text-align: center;
    color: $realWhite;
    margin-top: 5px;
}

.sc{
    background-color: $greenColor;
    color: $realWhite;
}


.foto-perfil{
    width: 300px;
    height: 300px;
    border-radius: 700px;
    border: solid 1px $darkBlue;

}


//titulo cineclub
.ciclos-h{
    font-size: $textLg;
    background: linear-gradient(
      var(--back-colour2),
      var(--back-colour1),
      var(--back-colour2)
    );
    color: $realWhite;
    font-weight: $textBold;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
    border-radius: 0 0 5px 5px;
    text-transform: uppercase;
}


.tdn{
    text-decoration: none;
}


.publicidades{
    background-color: $lightBlue;
}

.ciclos{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}


.perfil-cineclub{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    
}

.parte-cc{
    background-color: $lightLightBlue;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.publi{
    width: 400px;
    height: 600px;
    object-fit: cover;
}
