//carousel header
.carousel-item img{
    object-fit: cover;
}

//index peliculas
.espacio{
    padding-top: 2px;
}

.estrenos {
    background-color: $bGroundGrey;
}

//cards peliculas

.card{
    border: 1px solid $darkBlue;
}

.card-title{
    text-align: center;
    font-size: $textLg;
    background-color: $darkBlue;
    border-radius: 2px;
    color: $greyColorF;
    text-transform: uppercase;
}

.card-subtitle{
    text-align: center;
    font-size: $textMd;
    margin-bottom: 1em;
    background-color: $lightGrey;
    font-weight: $textMBold;
    text-transform: uppercase;
}

//grid index

.grid{
    display: grid;
    width: 99%;
}

#titulo-proximamente{
    grid-area: proxi;
}
#titulo-noticias{
    grid-area: noti;
}
#proximas-peliculas{
    grid-area: pelis;
}
#noticias{
    grid-area: noticias;
}


.grid-template-column-row{
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 250px 250px 300px;
    grid-template-areas:
    "proxi noti"
    "pelis noticias"
    "pelis noticias"
    "pelis noticias"
    "pelis noticias";
    gap: 10px;
    
}

//proximamente

.container-pelis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: $realWhite;
}


//noticias

// noticias cine 

.container-noticias{
    display: flex;
    align-items: center;
    flex-direction: row;
}


// noticias cine nacional + internacional */

.div-noticia-nacional{
    display: flex;
    flex-direction: column; 
}

.f1{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $borderBot;
    margin-top: 15px;
}

.f2{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $blackColor;
}

.publ-cine{
    border-radius: 0 0 5px 5px;
    padding: 20px 40px;

}

.div-p-nacional{
    padding: 20px 10px;
}

.div-p-internacional{
    padding: 20px 20px;
}


.div-cine-nacional{
    padding: 10px 10px;
}

.p-titulo{
    font-weight: $textSemiBold;
    font-size: $textLGg;
    line-height: $lineHeightM;
}

.p-info{
    border-top: solid 1px $greyColorF;
    padding: 10px 0;
    border-bottom: solid 1px $greyColorF;
}

.a-titulo{
    text-decoration: none;
    color: $blackColor;
    font-weight: $textMBold;
    transition: color 0.3s;
    &.a-titulo:hover{
        color: $blueHoverBtn;
    }
}


.a-cine{
    text-decoration: none;
    color: $blackColor;
}

.fig-noticia{
    text-align: center;
    background-color: $greyColorF;
    font-weight: $textBold;
    border-radius: 0 0 0 5px;
    font-size: $textMd;
    text-transform: uppercase;
    &.fig-noticia:hover{
        background-color: $greyColorF;
    }
}


.info-text{
    line-height: $lineHeightL;
}


.noticias-camerica{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $bGroundGrey;
    align-items: center;
}

