@media (max-width: 600px){
    .grid-template-column-row{
        grid-template-columns: 100%;
        grid-template-rows: 50px repeat(4,300px) 50px repeat(2,200px) repeat(2,200px);
        grid-template-areas:
        "proxi"
        "pelis"
        "pelis"
        "pelis"
        "pelis"
        "noti"
        "noticias"
        "noticias"
        "noticias"
        "noticias"
        "noti-cine"
        "noti-cine";
    }
}

@media (max-width: 600px){
    .grid-entradas-row-column{
        grid-template-columns: 100%;
        grid-template-rows: 50px 300px 50px 30px 300px 300px;
        grid-template-areas:
        "dia"
        "comp"
        "npeli"
        "pinfo"
        "pdes"
        "trai"
    }
}


    .img-noticias{
        width: 250px;
        height: 160px;
        padding-top: 5px;
    }

    .portada-peli{
        height: 250px;
        width: 200px;
    }

    .img-noticias-cine{
        width: 250px;
        height: 300px;
    }

    .segundos-titulos{
        font-size: $textLg;
    }

    h1{
        font-size: $textXlg;  
    }

@media (min-width: 400px) and (max-width: 600px){
    .grid-template-column-row{
        grid-template-columns: 100%;
        grid-template-rows: 50px repeat(4,400px) 50px repeat(2,270px) repeat(2,200px);
        grid-template-areas:
        "proxi"
        "pelis"
        "pelis"
        "pelis"
        "pelis"
        "noti"
        "noticias"
        "noticias"
        "noticias"
        "noticias"
        "noti-cine"
        "noti-cine";
    }

    .img-noticias{
        width: 350px;
        height: 200px;
        padding-top: 5px;
    }

    .portada-peli{
        height: 350px;
        width: 300px;
    }

    .img-noticias-cine{
        width: 300px;
        height: 350px;
    }

    .segundos-titulos{
        font-size: $textLg;
}

    h1{
        font-size: $textXlg;  
}

}