//extends


.puntos{
    width: 250px;
    border-radius: 10px;
    font-size: $textLg;
    background: linear-gradient(
      var(--back-colour8),
      var(--back-colour1),
      var(--back-colour8)
    );
    color: $whiteColor;
    font-weight: $textBold;
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    
    &.puntos:hover{
      transform: scale(1.2);
      transition: all 1s;
      }

}


.puntos-canje{
    @extend .puntos;
    background: linear-gradient(
      var(--back-colour4),
      var(--back-colour1),
      var(--back-colour4)
    );
}

.puntos-cambio{
    @extend .puntos;
    background: linear-gradient(
      var(--back-colour7),
      var(--back-colour1),
      var(--back-colour7)
    );
}


//mixins

@mixin images($width,$height,$object){
    width: $width;
    height: $height;
    object-fit: $object;
  
}


//en inicio
.portada-peli{
  @include images(15vw,38vh,cover)
 }

 .publ-cine{
  @include images(50vw,50vh,cover)
}

.img-noticias-large{
  @include images(30vw, 30vh, cover)
}


//en cartelera

.img-cartelera{
  @include images(350px, 480px, cover)
}


//en compra/entradas

.portada-compra{
  @include images(100%,100%, cover)
}


.vif{
  @include images(100%,400px,cover)
}

.portada-compra{
  @include images(100%,100%,cover)
  }


//en cine club

.foto-perfil{
  @include images(300px,300px,cover)
  }
  
.publi{
  @include images(400px,600px,cover)
}

//en mi perfil

.img-perfil{
    @include images(100%,650px,cover)
}
