.ingreso{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 700px;
    background-color: $lightLightBlue;

}

.crear-cuenta{
    background-color: $lightGrey;
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px $blackColor;
}

.ingreso-usuario{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 5px;
    height: 300px;
    justify-content: space-between;
}

.for1{
    height: 40px;
    width: 300px;
    margin: 4px auto;
}

.for2{
    height: 40px;
    width: 300px;
    color: $whiteColor;
    background-color: $firstBlue;
    font-size: $textLg;
    margin-top: 10px;
    &.for2:hover{
        background-color: $blueHoverBtn;
    }
}



.a-cuenta{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: $textBold;
    color: $firstBlue;
    &.a-cuenta:hover{
        color: $blackColor;
    }
}

.a-ingreso{
    text-decoration: none;
}

.iu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuenta-usuario{
    border-radius: 3px;
}

.p-ingreso{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $textXlg;
    font-weight: $textBold;
    text-transform: uppercase;
    padding-top: 20px;
    color: $firstBlue;
}

.p-cuenta{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:$firstBlue;
    font-weight: $textBold;
    font-size: $textMed;
    margin-top: 20px;
    justify-content: space-evenly;
}

.publi-perfil{
    flex-basis: 45%;
    padding-bottom: 5px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}

.img-perfil{
    height: 600px;
    width: 400px;

}
